*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    background-color: #171B1B;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 11%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo > p{
    font-family: 'Ultra', serif;
    font-size: 40px;
}

nav{
    margin-left: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    background-color: #171B1B;
    border: none;
    cursor: pointer;
    display: none;
}

nav > a{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

header >a> button{
    margin: 15px 20px 0px 0px;
    background-color: #171B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    border: 1px solid gray;
    text-transform: uppercase;
}

header >a> button:hover{
    background-color: #F5D3AB;
    color: black;
}

.intro{
    background-color: #171B1B;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: white;
}

.intro-content{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.intro-left-side{
    width: min-content;
}

.intro-left-side >h1{
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 72px;
}

.scroll-down-button{
    margin-bottom: 50px;
}

.scroll-down-button > button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.h1-description{
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.intro-right-side >img {
    width: 80%; 
    height: 80%;
}

.about-us{
    background-color: #F5D3AB;
    height: min-content;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.element {
    padding-top: 20px;
    transition: all 0.5s ease;
}

#h4{
    font-family: 'Oswald';
    font-size: 24px;
    color: #171B1B;
}

#h5{
    font-family: 'Oswald';
    font-size: 16px;
}

#p1{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

#p2{
    font-family: 'DM Sans';
    color: rgba(51, 51, 51, 0.496405);
    font-size: 16px;
}

.about-us-description{
    display: flex;
    justify-content: center;
}

.buttons-for-switching{
    margin-right: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-for-switching > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.our-features{
    padding: 40px;
    background-color: #F5D3AB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.our-features-header{
    text-align: center;
}

.feature-cards{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}

.card{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 25vw;
    height: 40vh;
    background-color: white;
}

.card:hover {
    transform: scale(1.1);
    background-color: #9EAD8D;
    cursor: pointer;
}


.card > h1{
    color: #171B1B;
    font-family: 'Ultra';
    font-weight: 400;
}

.card > p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.black-h1{
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 56px;
}

.white-h1{
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 56px;
    color: white;
}

.special-moments{
    margin: 160px;
    display: flex;
    justify-content: space-around;
}

.special-moments-picture > img{
    width: 80%; 
    height: 80%;
}

.our-video {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #171B1B;
    align-items: center;
    height: 480px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(7px);
    z-index: 0;
}

.button-for-video{
    z-index: 1;
}

.description-for-video{
    z-index: 1;
}


.our-video-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.explore-button{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    border: 1px solid gray;
    text-transform: uppercase;
}

.explore-button:hover{
    background-color: #F5D3AB;
    color: black;
}

.explore-button-light{
    background-color: #F5D3AB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    border: 1px solid gray;
    text-transform: uppercase;
}

.explore-button-light:hover{
    background-color: #171B1B;
    color: white;
}

.our-products{
    background-color: #F5D3AB;
    height: min-content;
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.our-products-top{
    display: flex;
}

.our-products-wrapper{
    background-color: #F5D3AB;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.homemadeBread{
    background: url("./images/bread.jpg");
    background-size: cover;
    object-fit: contain;
    background-position: center;
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homemadeBread-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.homemadeBread-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.homemadeBread-content >p:nth-child(1){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
}

.homemadeBread-content >p:nth-child(2){
    font-family: 'Ultra';
    font-weight: 400;
    font-size: 40px;
}

.homemadeBread-content-bot >p:nth-child(1){
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.502972);
}

.homemadeBread-content-bot{
    display: flex;
    justify-content: space-between;
}

.bread{
    margin-left: 2vw;
    width: 24vw;
    height: 40vh;
    background-color: white;
}

.bread-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bread-info{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread-image-div{
    height: 25vh;
}

.bread-image-div > img{
    width: 100%;
    height: 100%;
}

.bread-price{
    height: 100%;
    display: flex;
    align-items: flex-end;
}



.bread-info-wrapper{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.bread-info-wrapper > div:nth-child(1) > p:nth-child(1){
    color: #171B1B;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
}

.bread-info-wrapper > div:nth-child(1) > p:nth-child(2){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    color: #171B1B;
}

.bread-info-wrapper > div:nth-child(2) >p{
    font-family: 'Ultra';
    font-weight: 400;
    font-size: 40px;
}

.our-products-bot{
    display: flex;
    justify-content: flex-start;
}

.cupcake{
    width: 24vw;
    height: 40vh;
    background-color: white;
}

.biscuits{
    margin-left: 2vw;
    width: 24vw;
    height: 40vh;
    background-color: white;
}

.brioche{
    margin-left: 2vw;
    width: 24vw;
    height: 40vh;
    background-color: white;
}


.our-products-exploreBtn{
    display: flex;
    justify-content: center;
}

.our-process{
    height: 100vh;
    background-color: #171B1B;
    display: flex;
    justify-content: center;
}

.our-process-wrapper{
    margin-top: 10vh;
    width: 80vw;
}

.our-process-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.our-process-header >p{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
}

.how-we-work{
    display: flex;
    justify-content: center;
}

.card2{
    margin-top: 10vh;
    width: 20vw;
    background-color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2-wrapper > p{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    color: #171B1B;
}

.card2-description>p:nth-child(1){
    margin-bottom: 10vh;
    font-family: 'Ultra';
    font-weight: 400;
    font-size: 40px;
    color: #171B1B;
}

.card2-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card2-p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.card2:hover {
    transform: scale(1.1);
    background-color: #9EAD8D;
    cursor: pointer;
}

.our-recipes{
    height: 140vh;
    background-color: #171B1B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.our-recipes-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recipe-cards{
    display: flex;
    margin-top: 6vh;
}

.recipe-cards-right{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.recipe-card-right-top{
    display: flex;
    gap: 2vw;
}

.recipe-card-right-bot{
    margin-top: 3vh;
    display: flex;
    gap: 2vw;
}

.card3{
    width: 39vw;
    height: 85vh;
    background-color: white;
}

.card4{
    width: 17vw;
    height: 41vh;
    background-color: white;
}

.recipes-image-div{
    width: 100%;
    height: 65%;
}

.recipes-image-div >img{
    width: 100%;
    height: 100%;
}

.card3-info{
    height: 35%;
    display:flex;
    justify-content: center;
}

.card3-info-wrapper{
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
}

.card3-info-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cook-time{
    display: flex;
    justify-content: space-between;
}

.cook-time-img{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cook-time-img>img{
    width: 24px;
    height: 24px;
}

.cook-time-img>div>p{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    color: #171B1B
}

.card3-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card3-header>p:nth-child(1){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    color: #171B1B;
}

.card3-header>p:nth-child(2){
    font-family: 'Ultra';
    font-weight: 400;
    font-size: 40px;
    color: #171B1B;
}

.cook-time >p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.card4-info{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card4-wrapper{
    width: 80%;
    height: 80%;
}

.card4-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card4-top{
    display: flex;
    justify-content: space-between;
}

.card4-top>p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.card4-time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.card4-time>p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
}

.card4-time>img{
    width: 12px;
    height: 12px;
}

.card4-description{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    color: #171B1B;
}

.xingYu{
    margin-top: 5%;
}

.our-baker{
    background-color: #F5D3AB;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-baker-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.our-baker-left-side{
    width: 33%;
}

.list-of-bakers{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.baker-buttons{
    display: flex;
    flex-direction: column;
}

.baker-buttons>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#baker-p{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
}

#baker-p2{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.bakers{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.bakers >h5{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: #171B1B;
}

.bakers >h4{    
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    color: #171B1B;
}



.testimonials{
    background-color: #F5D3AB;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.highlighted {
    transform: scale(1.1);
    background: #9EAD8D;
}

.testimonials-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.testimonials-header{
    text-align: center;
}

.reviews{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.card6{
    background-color: white;
    width: 23vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card6-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.card6-top{
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.card6-bot{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card6-bot>p:nth-child(1){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
}

.card6-bot>p:nth-child(2){
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}

.get-in-touch{
    height: min-content;
    background-color: #F5D3AB;
    display: flex;
    justify-content: center;
}

.get-in-touch-wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.map {
    width: 700px;
    height: 800px;
    background-image: url(./images/map-bg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
}

.map{
    position:relative;
}
.map>iframe{
    margin-top: 50px;
    margin-right: 100px;
    position: absolute;
    z-index: 2;
}

.contact2{
    width: 50%;
    margin-top: 100px;
}

.contact-info{
    margin-top: 10%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    gap: 200px;
}

.address{
    display: flex;
    gap: 50px;
}

.phone{
    display: flex;
    gap: 50px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-details>button{
    margin-top: 50%;
}

.contact-details>p:nth-child(1){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
}
.contact-details>p:nth-child(2){
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    color:#171B1B;
}

.contact-details>p:nth-child(3){
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.496405);
}



footer{
    color: white;
    background-color: #171B1B;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper{
    width: 80%;
    height: 80%;
}

.footer-wrap{
    width: 100%;
    height: 100%;
}

.footer-main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px gray solid;
}

.footer-logo > p{
    font-family: 'Ultra', serif;
    font-weight: 400;
    font-size: 40px;    
}

.menu-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list>a{
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.social{
    text-align: center;
}

.social-icons{
    margin-top: 20px;
}

.bottom-footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.copyright>p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.502972);;
}

.tos-pp{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.tos-pp>a{
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: white;
}


.oswald{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.oswald-white{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}


@media(max-width:600px){
    .intro-left-side>h1{
        font-size:40px ;
    }
    .black-h1{
        font-size: 40px;
    }
    .white-h1{
        font-size: 40px;
    }
    body{
        zoom: 0.9;
    }
    header{
        zoom: 0.7;
    }
    nav{
        display: none;
    }
    .intro-content{
        flex-direction: column-reverse;
    }
    .bakerPicture{
        display: none;
    }
    .menu{
        display: block;
    }
    .nav{
        position: absolute;
        top: 100%;
        right: 2%;
        width: 270px;
        height: 29vh;
    }
    .special-moments{
        flex-direction: column;
    }
    .special-moments-picture{
        display: flex;
        justify-content: center;
    }
    .fresh{
        display: none;
    }
    .natural{
        display: none;
    }
    .tasty{
        width: 100%;
    }
    .our-video{
        flex-direction: column;
    }
    .our-products{
        width: 100%;
        flex-direction: column;
    }
    .our-products-wrapper{
        width: 100%;
    }
    .our-products-top{
        margin: 0;
        padding: 0;
        gap: 0;
        flex-direction: column;
    }
    .our-products-bot{
        margin: 0;
        padding: 0;
        gap: 0;
        flex-direction: column;
    }
    .card3-header>p:nth-child(2){
        font-size: 25px;
    }
    .homemadeBread{
        margin: 0;
        width: 100vw;
        zoom: 0.7;
    }
    .bread{
        margin: 0;
        width: 80vw;
    }
    .cupcake{
        margin: 0;
        width: 80vw;
    }
    .biscuits{
        margin: 0;
        width: 80vw;
    }
    .brioche{
        margin: 0;
        width: 80vw;
    }
    .our-process-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .baking{
        display: none;
    }
    .delivery{
        display: none;
    }
    .card2.tasty{
        display: none;
    }
    .contact{
        width: min-content;
    }
    .our-recipes{
        height: min-content;
    }
    .our-recipes-wrapper{
        flex-direction: column;

    }
    .recipe-cards{
        flex-direction: column;
    }
    .recipe-card-right-bot{
        flex-direction: column;
    }
    .recipe-card-right-top{
        flex-direction: column;
    }
    .card3{
        margin: 0;
        width: 80vw;
    }
    .card4{
        margin: 0;
        width: 80vw;
    }
    .our-baker{
        flex-direction: column;
    }
    .card6{
        width: max-content;
        height: min-content;
    }
    .second{
        display: none;
    }
    .third{
        display: none;
    }
    .get-in-touch-wrap{
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: min-content;
    }
    .contact-info{
        margin: 0;
        flex-direction: column;
        gap: 0;
    }
    .contact-details{
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .map{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    iframe{
        width: 40%;
        height: 400px;
    }
    .footer-main{
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .bottom-footer{
        flex-direction: column;
    }
    .tos-pp{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:336px){
    .black-h1{
        font-size: 20px;
    }
    .white-h1{
        font-size: 20px;
    }
}
