*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(./Illustration.png) center ;
    background-color: rgb(154, 66, 255);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-main{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.wrapper{
    position: relative;
    width: 500px;
    background: #1f2327;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.form-header{
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.signUp-text{
    font-size: 48px;
    color: white;
}

.signUp-description{
    font-size: 16px; color: #748AA1;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b3d5f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #85b9ec;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1b3d5f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


form{
    width: 80%;
    position: relative;
    background-color: #292E33;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.topOfForm{
    width: 100%;
    margin-top: 16px;
    background: #292e33;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

label{
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #748AA1;
}


input{
    height: 42px;
    background-color: #292e33;
    border: 1px solid #33393f;
    border-radius: 5px;
    margin-top: 6px;
    color: white;
    outline: none;
}

.botOfForm{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.half-element {
    width: 45%;
}
  
.half-element > input {
    width: 100%;
}


.signUp-btn{
    margin-top: 50px;
    height: 45px;
    background-color: #29CB97;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.blue-fb{
    background-color: #255B9B;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.cyan-fb{
    background-color: #00ADEE;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

select{
    height: 42px;
    background-color: #292E33;
    color: white;
    border: 1px solid #33393F;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

a{
    text-decoration: none;
    color: white;
}

.inputElement{
    display: flex;
    flex-direction: column;
}


.inputElement.success input{
    border-color: #29CB97;
}

.inputElement.error input{
    border-color: rgb(245, 92, 92);
}

.inputElement .error{
    color: rgb(245, 92, 92);
    font-size: 9px;
    height: 13px;
}

.botOfForm{
    display: flex;
    justify-content: space-between;
}

.fb-buttons{
    width: 80%;
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 671px){
    body{
        background-image: none;
        background-color: #1F2327;
        display: flex;
        flex-direction: column;
    }
    .form-main {
        width: 100%;
    }
    .wrapper {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .topOfForm {
        margin-top: 20px;
    }
}